@tailwind base;
@tailwind components;
@tailwind utilities;

/* geogian fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&family=Noto+Serif+Georgian:wght@100..900&display=swap");

/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "~@fortawesome/fontawesome-free/css/all.css";

@layer utilities {
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .-rotate-y-180 {
    transform: rotateY(-180deg);
  }
  .rotate-y-0 {
    transform: rotateY(0deg);
  }
  .perspective-1500 {
    perspective: 1500px;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .backface-visible {
    backface-visibility: visible;
  }
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
